@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Michroma|Noto+Serif:400,400italic,700,700italic);

/**==== Scott's Gardening Website CSS ====
---- Copyright 2014 Chase Moskal 
**/

header,footer,main,article,aside,section,hgroup,nav,menu,menuitem,details,summary,figure,figcaption,mark,wbr,time,progress,meter,data,datalist,output,canvas,audio,video,track,source,keygen,embed,rp,rt,ruby,bdi { display:block; }

/*------*/

* { margin:0; padding:0; }


a:link, a:visited { color: #4CA1F6; }
a:hover, a:focus  { color: #4CB6E1; } 
a:active          { color: #0055AA; }

.sce-panel { 
  background: #6B838F !important;
  background: rgba(107, 131, 143, 0.82) !important; }

  
/*
============================
:::::::: TYPOGRAPHY ::::::::
============================
*/
.type-upfront {}
  .type-upfront h1 {
    color: #497747;
    font-size: 2em; 
    line-height: 1em;
    font-family: "Alfa Slab One", serif;
    font-weight: normal; 
    }
    .type-upfront h1 i {
      display: block;
      color: #78866E;
      opacity: 0.6;
      font-size: 0.7em;
      font-family: sans-serif;
      font-weight: bold;
      font-style: normal;
      line-height: 1em;
      }
    .type-upfront h2 {
      color: #497747;
      font-size: 1.4em; 
      line-height: 1em;
      font-family: "Noto Serif", serif;
      font-weight: bold; 
      }
      .type-upfront h2 i {
        font-style: normal;
        color: #C75A30;
      }
  .type-upfront p {
    color: #536454;
    margin: 0.4em 0;
    font-size: 1em;
    font-family: "Noto Serif", serif;
    }
  .type-upfront ul,
  .type-upfront ol {
    list-style-position: inside;
    margin-left: 1em;
    }
  .type-upfront hr {
    clear: both;
    background: #D0E8B2;
    display: block; 
    margin: 10px auto;
    height: 6px;
    border: none;
    }

.type-technobatman {}
  .type-technobatman h1 {
    color: #EBFA9D;
    font-family: "Michroma"; }
    .type-technobatman h1 i {
      opacity: 0.4;
      font-style: italic; }
  .type-technobatman p {}

.type-downlow {
  font-size: 1em;
  color: #EAF5E5;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
  font-family: "Noto Serif", serif;
  }
  .type-downlow h1,
  .type-downlow h2 {
    font-size: 1.2em;
    color: #CCDAC6;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Arial, sans-serif;
    }
  .type-downlow a {
    color: inherit;
    text-decoration: none;
    }
    .type-downlow a:hover { text-decoration: underline; }
    .type-downlow a:active { opacity:0.8; }


html,body {
  width: 100%;
  height: 100%;
  background: #5F6B55;
  color: #5F6B55;
  font-size: 14px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Arial, sans-serif; 
  }
  .buns, .buns body{
    background: #7EA358; }






  .header {
    z-index: 10;
    position: fixed;
    width: 100%;
    background: black;
    background: rgba(0,0,0, 0.9);
    border-bottom: 5px solid #9ACC65;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
  }

  .header .importants {}

  .header .important {
    display: inline-block;
    padding: 0.4em;
  }

  .header .important.right {
    float: right;
    font-size: 1.2em;
  }

  .header .important .social {
    height: 2.5em;
    padding: 0.2em 1em;
  }

  .header .wrap {
    display: table;
    margin: auto;
  }

  .header .wrap > * {
    display: table-cell;
    vertical-align: middle;
  }

  .header .navbar {
    text-align: center;
  }

  .header .navbar a {
    padding: 0.2em 0.5em;
    font-family: Michroma, serif;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    -webkit-transition: all 200ms ease; 
    transition: all 200ms ease; 
  }

  .header .navbar a:hover,
  .header .navbar a:focus,
  .header .navbar a.is-active {
    color: #B4F570;
    text-decoration: underline; 
  }

  .header .navbar a:active { color: #85B355; }

  .header .logo {
    position: relative;
    display: block;
    height: 5em;
    width: 14em;
  }

  .header .logo > img {
    position: absolute;
    width: 12em;
    top: -0.23em;
    left: 0; right: 0;
    margin: auto;
  }

  @media (max-width: 640px) {
    .header { position: relative; }
    .header .logo { font-size: 0.5em; }
  }

  @media (max-width: 399px) {
    .header .wrap { display: block; padding: 2em 0.5em; }
    .header .wrap > * { display: block; }
    .header .logo { width: auto; height: auto; }
    .header .logo > img {
      width: 30em;
      position: relative;
      display: block;
      top: auto; left: auto; right: auto; 
      margin: 1em auto;
    }
    .header .important { 
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  




  main {
    /* Has its min-height set by the height of its current child page */
    min-height: 800px;
    }
    
    .page { 
      position: absolute; 
      display: none;
      opacity: 0;
      width: 100%;
      margin: 0 auto;
      background: #F6FCE8; 
      }
      .stretch {
        width: 90%;
        padding: 50px 0;
        margin: 0 auto;
        margin-bottom: 40px;
        }
        .stretch::after {
          content:""; display:block; clear:both; 
        }
      .leadphoto {
        min-height: 400px;
        background-color: rgba(0,0,0,0.2);
        background-image: url("http://scottsgardening.ca/stock-photos/scotts-01.jpg");
        background-size: 120%;
        background-size: cover;
        background-position: center center;
        box-shadow: 0 6px 12px rgba(0,0,0,0.05);
        border-bottom: 10px solid #FCFFF4;
        border-bottom: 10px solid rgba(252,255,244,0.5);
        }
      .spacer {
        /* the spacer is needed to make room for the header if a leadphoto isn't used on a page.
          JavaScript will set the height of each spacer to match the header. */
        width: 100%;
        min-height: 152px;
        }
      .blurb {
        min-height: 120px;
        padding: 2%;
        }
      
      
      
      
      
      
      .page.about {}
        .about .stretch {}
        
        .about-blurb {}
          .about-blurb p {
            text-align: justify;
            }
            
          .about-pic {
            float: left;
            width: 36%;
            padding: 2%;
            background: #90BB74;
            margin: 0 2% 10px 0;
            box-shadow: 1px 3px 8px rgba(0,0,0,0.2);
            -webkit-transition: all 200ms ease;
            transition: all 200ms ease;
            }
            /* .about-pic:hover {
              opacity: 0.9;
              -webkit-transform: scale(1.01);
              transform: scale(1.01);
              }
            .about-pic:active {
              opacity: 0.8;
              -webkit-transform: scale(0.98) rotateZ(-1deg);
              transform: scale(0.98) rotateZ(-1deg);
              } */
              .about-pic img {
                display: block;
                width: 100%;
                height: 100%;
                /* cursor: pointer; */
                  -o-box-sizing: border-box;
                  -ms-box-sizing: border-box;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                box-sizing: border-box;
                border: 6px solid rgba(255, 255, 255, 0.34);
                box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
                }
            .about-pic,
            .about-pic img {
              -webkit-user-drag: none;
              -moz-user-drag: none;
              user-drag: none;
              -webkit-user-select:none;
              -moz-user-select:none;
              user-select:none;
              }
          
          .about-pictext {
            text-align: left;
            width: 58%;
            float: right;
            margin-bottom: 10px;
            }
          
          .about-info {
            clear: both;
            display: table;
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            margin-top: 40px;
            border-radius: 3px;
            }
            .about-info-cell {
              display: table-cell;
              vertical-align: top;
              }
              .about-info-cell.n1 {
                padding: 2%;
                padding-right: 8%;
                text-align: left;
                }
              .aic2 { /* shorthand for ".about-info-cell n2" */
                width: 40%;
                padding: 2%;
                color: white;
                background: #848F79;
                text-align: left;
                font-size: 1.2em;
                line-height: 1em;
                border-radius: 3px;
                box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
                }
                .aic2 h2 { 
                  color: inherit;
                  font-size: 1em;
                  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
                  }
                .aic2 p {
                  color: inherit;
                  margin-bottom: 0.2em;
                  }
                .aic2 b {
                  opacity: 0.6;
                  font-family: "Noto Serif", Georgia, serif;
                  font-style: italic;
                  font-size: 0.7em;
                  margin-left: 0.5em;
                  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
                  }
                .aic2 i {
                  opacity: 0.8;
                  display: block;
                  font-family: "Noto Serif", Georgia, serif;
                  font-style: italic;
                  font-size: 0.8em;
                  line-height: 1em;
                  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
                  }
                .aic2 a {
                  color: inherit;
                  }
        @media(max-width:500px) {
          .about-pic {
            float: none; 
            display: block;
            width: 100%;
            margin: 0 auto 1em auto;
            }
          .about-pictext {
            float: none;
            width: 100%;
            }
          .about-info {
            display: block;
            width: 100% !important;
            padding: 0 !important;
            }
            .about-info-cell {
              display: block;
              width: 100% !important;
              padding: 0 !important;
              }
              .aic2 {
                width: 92% !important;
                padding: 4% !important;
                margin-top: 20px;
                }
          }
      
      
      
      
      
      .page.services {}
        .services .stretch {}
          .services-blurb {}
          .services-listbox {
            display: table;
            width: 96%;
            padding: 2%;
            margin: 0 auto;
            border-collapse: collapse;
            border-spacing: 0;
            }
            .slist {
              display: table-cell;
              vertical-align: top;
              width: 50%;
              }
              .slist.n1 {
                width:46%;
                padding-right: 4%;
                }
          .sblab {
            color: #3C5474;
            margin-top: 60px;
            }
            .sblab h2 {
              position: relative; z-index: 1;
              background: url("http://scottsgardening.ca/images/snowy.jpg");
              background-position: center center;
              background-attachment: fixed;
              color: #0F6F94;
              font-style: italic;
              text-shadow: 0 0 6px rgba(255,255,255,1);
              padding: 0.5em 2%;
              border-radius: 5px;
              }
              .sblab h2::after {
                content: ""; 
                display: block;
                position: absolute;
                z-index: -1;
                top:0; left:0; right:0; bottom:0;
                background: rgba(255,255,255,0.69);
                border-radius: inherit;
                }
            .sblab p,
            .sblab ul,
            .sblab ol {
              padding: 0.3em 2%; 
              }
        @media(max-width:500px) {
          .services-listbox { 
            display: block }
            .slist {
              display:block;
              width: 100%!important;
              padding: 0!important;
              margin: 30px 0;
              }
          }
      
      
      
      
      .page.testimonials {}
        .testimonials .stretch {}
          .testimonials-blurb {}
            .testimonials-blurb p {
              font-size: 1.2em;
              font-family: Calibri, Arial, sans-serif;
              }
          .testimonials-listed {
            font-size: 0.9em;
            }
      
      .page.gallery {
        background: #3C4741;
        }
        .gallery-blurb {
          padding: 1%;
          /*min-height: 480px;*/
          }

  .social {
    height: 4em;
    padding: 1em 2em;
    opacity: 0.9;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
      -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    } .social:hover {
      opacity: 1;
      background: rgba(81, 124, 168, 0.15);
    } .social:active {
      opacity: 0.95;
    }
    .social img {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
        -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      } .social:hover img {
          -webkit-transform: scale(1.1) rotateY(360deg);
        transform: scale(1.1) rotateY(360deg);
      } .social:active img {
          -webkit-transform: scale(0.9) rotateY(360deg) rotateZ(10deg);
        transform: scale(0.9) rotateY(360deg) rotateZ(10deg);
      }
    .social span {
      display: inline-block; 
      vertical-align: middle;
      margin-left: 0.5em;
      }
  
  footer {
    position: relative;
    padding-bottom: 240px;
    }
    .footerbar {
      height: 4em;
      background: #F0FFF3;
      padding: 0;
      text-align: left;
      box-shadow: 0 0px 4px rgba(44, 85, 62, 0.05);
      } 
      .footerbar::after { content:"";display:block;clear:both; }
      .footerbar .social { 
        height: 100%;
        height: calc(100% - 0.8em);
        padding: 0.4em 1.62em;
      }
      .bbb {
        height: 100%;
        opacity: 0.8;
        float: right;
        display: inline-block;
        margin: 0;
          -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        }
        .bbb:hover {
          opacity: 1;
        }
        .bbb:active {
          opacity: 0.9;
        }
        .bbb img {
          display: block;
          height: 100%;
          }
    .infobar {
      color: #293623;
      background: #BAC5AA;
      padding: 4% 14%;
      box-shadow: 0 5px 4px rgba(0, 0, 0, 0.05);
      text-align: center;
      font-family: "Noto Serif", serif;
      font-size: 0.8em;
      }
      .infobar h1,
      .infobar h2,
      .infobar h3 {
        font-family: Calibri, Arial, sans-serif;
        }
      .infobar ol, .infobar ul {
        list-style-position: inside;
        }
    
    .ftripletspacer { height:50px; }
    .ftriplet {
      display: table;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      margin: 0 auto;
      padding-top: 80px;
      }
      .ftriplet-cell {
        width: 29%;
        padding: 2%;
        display: table-cell;
        vertical-align: top;
        }
        .ftriplet-cell.n1 { text-align: left; }
        .ftriplet-cell.n2 { text-align: center; }
        .ftriplet-cell.n3 { text-align: right; }
          .ftriplet-cell.n3 .editable {}
          .webdev {
            opacity: 0.5;
            display: block; 
            color: inherit!important;
            text-decoration: none;
            }
            .webdev em {
              font-weight: bold;
              }
              .webdev:hover em,
              .webdev:focus em { 
                color: #B1C9A3;
                text-decoration: underline; 
                }
              .webdev:active em { color: #869E78; }
      @media(max-width:640px) {
        .ftriplet {
          display: block;
          }
          .ftriplet-cell {
            display: block;
            width: 60%;
            margin: 0 auto;
            margin-bottom: 40px;
            }
        }


/*
=============================================
:::::::: MEDIA QUERIES FOR ALL PAGES ::::::::
=============================================
*/
@media(max-width:500px) {
  /*header { padding-bottom: 4px; }
    .quickinfo { height: 16px; }
    .logo {}
      .logo img { height: 80px; top: 10px; }*/
  }
@media(min-width:800px) {
  /*.quickinfo {
    opacity: 1;
    }*/
  .stretch {
    width: 60%; 
    }
  }
@media(min-width:1200px) {
  html,body {
    font-size: 16px;
    }
    /*.header {}
      .quickinfo {
        height: 51px;
        }
      .logo {}
        .logo img {
          height: 180px; 
          }*/
  }
@media print {
  * { 
    box-shadow:none!important; 
    }
  header,
  .leadphoto,
  .social { 
    display:none 
    }
	}
